* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	color: #fff;
	margin: auto;
	max-width: 500px;
}
a {
	color: #fff;
}
.grid-container {
	display: grid;
	grid-template-areas:
	'header'
	'search'
	'result';
	width: 100%;
}
.header {
	grid-area: header;
	background-color: #00b451;
	text-align: center;
}
.search {
	grid-area: search;
	background-color: #00b451;
	min-height: 3.6rem;
	padding: 1rem;
	text-align: center;
}

input {
	background-color: #00b451;
	border: 1px solid #fff;
	color: #fff;
	text-align: center;
}
::placeholder {
	color: #fff;
	opacity: 1;
}
input::-webkit-calendar-picker-indicator {
  display: none;
}
input:focus {
	outline: none;
}
.result {
	grid-area: result;
	display: grid;
	background-color: #00b451;
	text-align: center;
	padding: 10px;
	grid-template-areas:
	'a r j l';
}
.ennuste {
	color: orange;
}
#a {
	grid-area: a;
	min-width: 120px;
	text-align: left;
}
#r {
	grid-area: r;
}
#j {
	grid-area: j;
	min-width: 70px;
}
#l {
	grid-area: l;
	min-width: 100px;
	text-align: left;
}