* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
body {
	background-color: #00137ff0;
	color: #ffffff;
	line-height: 1.25;
	margin: auto;
	max-width: 500px;
}
a {
	color: #ffffff;
}
.grid-container {
	display: grid;
	grid-template-areas:
	'header'
	'search'
	'result';
	width: 100%;
}
.header {
	grid-area: header;
	text-align: center;
}
.search {
	grid-area: search;
	padding-top: 1rem;
	font-size: 1.5rem;
	text-align: center;
}
input {
	background-color: #00137fe6;
	border: 1px solid;
	border-radius: 0.7rem;
	color: #ffffff;
	font-size: 1.5rem;
	text-align: center;
	padding: 0.2rem;
}
::placeholder {
	color: #ffffff;
	opacity: 0.7;
}
input[type="text"]::-webkit-calendar-picker-indicator {
	display: none !important;
}
input:focus {
	outline: none;
}
#result {
	font-family: monospace;
	font-size: 1.1rem;
	font-weight: 500;
	padding: 1rem;
}
#result table {
	border-collapse: collapse;
	width: 100%;
}
#result table thead tr th {
	background-color: #00137fe6;
	text-align: left;
}
#result table tbody tr:nth-child(even) {
	background-color: #00137fe6;
}
tr {
	border-bottom: 1px solid #ffffff;
	line-height: 1.75rem;
}
.ennuste {
	color: #ffffff;
	background-color: #c80000;
	border-radius: 0.2rem;
	margin: 0.1rem;
	padding:  0.3rem 0.3rem 0rem 0rem;
}

